body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #252850 !important;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

h2 {
    text-decoration: underline !important;
}