.contenedorSaludo {
  position: relative;
}

.contenedorSaludo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.saludo {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  text-shadow: 0 0 0 0 black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

/* Additional CSS for positioning the button */
.image-container {
  position: relative;
  display: inline-block;
  width: 300px; /* Fija el tamaño del contenedor de la imagen */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container .btnModal {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.modal-dialog {
  max-width: 90vw !important; /* Establece el ancho máximo */
  width: 70vw !important; /* Establece el ancho */
  max-height: 80vh;
}

.modal-body {
  height: 80vh; /* Cambia este valor para ajustar la altura */
}

.modal-body iframe {
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.fade-in.visible {
  opacity: 1;
}
